body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

/* ------------------Header----------------- */
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
  letter-spacing: 0.03em;
}

.logo-studio:hover,
.logo-studio:focus {
  color: #404bbf;
}

.navigation {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-banner {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*------------- FEATURES----------- */
.features-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-description {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ------------------OUR TEAM ----------------- */
.our-team {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
}

.team-card {
  background-color: #ffffff;
}

.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-member-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------------------OUR PORTFOLIO--------------- */
.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-example {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.protfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------------------FOOTER-------------------- */
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer {
  background-color: #2e2f42;
}

.logo-web-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio-footer {
  color: #f4f4fd;
  letter-spacing: 0.03em;
}

.logo-studio-footer:hover,
.logo-studio-footer:focus {
  color: #404bbf;
}
